[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "conleyreg"]
	path = conleyreg
	url = https://github.com/christiandueben/conleyreg
[submodule "spaths"]
	path = spaths
	url = https://github.com/christiandueben/spaths
